<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assetsbackend/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assetsbackend/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    
        <!-- sidebar -->
        <%- include('partials/sidebar')%>
        <!-- sidebar -->
 
    <main class="main-wrap">

         <!-- header -->
         <%- include('partials/header')%>
         <!-- header -->
       
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Coupon</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="/admin/add-coupon" method="post">
                                <div class="mb-4">
                                    <label for="coupon_name" class="form-label">Coupon title</label>
                                    <input type="text" name="couponName" placeholder="Type here" class="form-control" id="product_title">
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-4">
                                        <label for="discount" class="form-label">Discount%</label>
                                        <input type="text" name="discount" placeholder="Type here" class="form-control" id="discount">
                                    </div>
                                    <div class="col-md-3 mb-4">
                                        <label for="maxDiscount" class="form-label">Max Discount</label>
                                        <input type="text" name="maxDiscount" placeholder="Type here" class="form-control" id="maxDiscount">
                                    </div>
                                    <div class="col-md-3 mb-4">
                                        <label class="form-label">isListed</label>
                                        <select class="form-select" name="isListed">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 mb-4">
                                        <label for="minAmt" class="form-label">Min order price</label>
                                        <input type="text" name="minAmt" placeholder="Type here" class="form-control" id="MinAmt">
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                                </div>
                            </form>
                            
                     </div> <!-- card end// -->
                 <!-- card end// -->
                </div>
            </div>
        </section>
     
        <!-- footer -->
            <%- include('partials/footer')%>
        <!-- footer -->

    </main>
    <script src="/assetsbackend/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assetsbackend/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assetsbackend/js/vendors/select2.min.js"></script>
    <script src="/assetsbackend/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assetsbackend/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assetsbackend/js/main.js" type="text/javascript"></script>
</body>

</html>